img {
    max-width: 100px;
    max-height: 100px;
}

#role {
    padding-right: 10px;
    padding-left: 10px;
}

body {
    font-family: 'Garamond';
    text-align: center;
    background-color: #F2EEB3;
}

table {
    margin-left: auto;
    margin-right: auto;
}

li {
    list-style: none;
}

header {
    text-decoration: underline;
}

p {
    padding-left: 100px;
    padding-right: 100px;
}

td {
    padding-left: 20px;
    padding-right: 20px;   
}